**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [69]:
import io
import sys
import math
import random


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [29]:
square = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
b = []

for i in square:
    b.append(math.sqrt(i))
print(b)

TypeError: append() argument after ** must be a mapping, not int

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [20]:
sqrt=[i for i in range(100)]
b=[]
for i in sqrt:
    b.append(math.sqrt(i))
print(b)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755, 7.14142842854285, 7.211102550927978, 7.280109889280518, 7.3484692283495345, 7.416198487095663, 7.483314773547883, 7.54983443527075, 7.615773105863909, 7.681145747868608, 7.745966692414834, 7.810249675906654, 7.874007874011811, 7.937253933193772, 8.0, 8.06225774829855, 8.12403840463596, 8.18535277187245, 8.246211251235321, 8.306623862918075, 8.366600265340756, 8.426149773176359, 8.48528137423857, 8.54400374531753, 8.602325267042627, 8.660254037844387, 8.717797887081348, 8.774964387392123, 8.831760866327848, 8.888194417315589, 8.94427190999916, 9.0, 9.055385138137417, 9.1104335791443, 9.16515138991168, 9.219544457292887, 9.273618495495704, 9.327379053088816, 9.38083151964686, 9.433981132056603, 9.486832980505138, 9.539392014169456, 9.591663046625438, 9.643650760992955, 9.695359714832659, 9.746794344808963, 9.797958971132712, 9.848857801796104, 9.899494936611665, 9.9498743710662]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [26]:
b=[i for i in range(-10, 1)]

print(b)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [53]:
pra=[i for i in range(100)]
odds=[i for i in pra if i%2 == 1]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [54]:
#Pataton=[i for i in range(100)]
oddsss=[]
par=[]
for num in Pataton:
    if (num % 2) == 0:  
        print("{0} is Even".format(num))
        odds.append(i)
        
    else:  
        print("{0} is oddsss".format(num))

print(oddsss)

0 is Even
1 is oddsss
2 is Even
3 is oddsss
4 is Even
5 is oddsss
6 is Even
7 is oddsss
8 is Even
9 is oddsss
10 is Even
11 is oddsss
12 is Even
13 is oddsss
14 is Even
15 is oddsss
16 is Even
17 is oddsss
18 is Even
19 is oddsss
20 is Even
21 is oddsss
22 is Even
23 is oddsss
24 is Even
25 is oddsss
26 is Even
27 is oddsss
28 is Even
29 is oddsss
30 is Even
31 is oddsss
32 is Even
33 is oddsss
34 is Even
35 is oddsss
36 is Even
37 is oddsss
38 is Even
39 is oddsss
40 is Even
41 is oddsss
42 is Even
43 is oddsss
44 is Even
45 is oddsss
46 is Even
47 is oddsss
48 is Even
49 is oddsss
50 is Even
51 is oddsss
52 is Even
53 is oddsss
54 is Even
55 is oddsss
56 is Even
57 is oddsss
58 is Even
59 is oddsss
60 is Even
61 is oddsss
62 is Even
63 is oddsss
64 is Even
65 is oddsss
66 is Even
67 is oddsss
68 is Even
69 is oddsss
70 is Even
71 is oddsss
72 is Even
73 is oddsss
74 is Even
75 is oddsss
76 is Even
77 is oddsss
78 is Even
79 is oddsss
80 is Even
81 is oddsss
82 is Even
83 is oddsss
84 is Even
85 is oddsss
86 is Even
87 is oddsss
88 is Even
89 is oddsss
90 is Even
91 is oddsss
92 is Even
93 is oddsss
94 is Even
95 is oddsss
96 is Even
97 is oddsss
98 is Even
99 is oddsss
[]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [55]:
pra=[i for i in range(1000)]
divisible_by_seven=[i for i in pra if i%7 == 0]
print(divisible_by_seven)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [71]:
teststring = 'Find all of the words in a string that are monosyllabic'
vocales =['a','e','i','o','u']
non_vowels=[]
for letters in teststring:
    if letters not in vocales: non_vowels.append(letters)
print(''.join(non_vowels))

Fnd ll f th wrds n  strng tht r mnsyllbc

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [70]:
frason = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters=[]
for letter in frason :
    if letter == letter.upper():capital_letters.append(letter)
print(capital_letters)

['T', ' ', 'Q', ' ', 'B', ' ', 'F', ' ', 'J', ' ', 'O', ' ', 'T', ' ', 'L', ' ', 'D']

In [72]:
frason = 'The Quick Brown Fox Jumped Over The Lazy Dog'
lower_letters=[]
for letter in frason :
    if letter == letter.lower():lower_letters.append(letter)
print(lower_letters)

['h', 'e', ' ', 'u', 'i', 'c', 'k', ' ', 'r', 'o', 'w', 'n', ' ', 'o', 'x', ' ', 'u', 'm', 'p', 'e', 'd', ' ', 'v', 'e', 'r', ' ', 'h', 'e', ' ', 'a', 'z', 'y', ' ', 'o', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [81]:
import os

In [86]:
contenido = os.listdir('C:/Users/javip/lab1')
contenido

['1.1-lab-bash',
 '1.1-lab-resolving-git-conflicts',
 '1.2-lab-list-comprehension',
 '1.2-lab-tuple-set-dict',
 '1.3-lab-functions',
 '1.4-lab-errorhand_listcomp',
 '1.4-lab-map-reduce-filter',
 'solutions.ipynb']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [80]:
def listaAleatorios(n):
      lista = [0]  * n
      for i in range(n):
          lista[i] = random.randint(0, 100)
      return lista

print("Ingrese cuantos numeros aleatorios desea obtener")
n=int(input())

aleatorios=listaAleatorios(n)
print(aleatorios)

Ingrese cuantos numeros aleatorios desea obtener
100
[16, 58, 43, 15, 51, 59, 39, 59, 37, 20, 2, 77, 79, 98, 88, 23, 95, 51, 13, 99, 81, 73, 89, 97, 76, 23, 73, 66, 30, 1, 69, 40, 61, 38, 13, 20, 66, 23, 41, 89, 95, 33, 85, 7, 30, 37, 48, 60, 60, 11, 63, 74, 55, 18, 29, 100, 86, 18, 26, 48, 20, 23, 35, 50, 96, 95, 30, 57, 77, 1, 81, 44, 96, 82, 99, 45, 1, 91, 7, 11, 88, 45, 19, 54, 46, 100, 65, 33, 75, 40, 18, 44, 90, 64, 52, 75, 44, 74, 57, 20]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [89]:
list_of_lists = [*[1,2,3],*[4,5,6],*[7,8,9]]
list_of_lists

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
flatten_lists = list_of_lists
flatten_lists

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [99]:
list_of_lists = [*['40', '20', '10', '30'], *['20', '20', '20', '20', '20', '30', '20'], \
*['30', '20', '30', '50', '10', '30', '20', '20', '20'], *['100', '100'], *['100', '100', '100', '100', '100'], \
*['100', '100', '100', '100']]

In [118]:
list_of_lists_new2 = []
for e in range(len(list_of_lists)):
    for u in range(len(list_of_lists[e])):
        list_of_lists_new2.append(float(list_of_lists[e][u]))
print(list_of_lists_new2)
type(list_of_lists_new2[2])

[4.0, 0.0, 2.0, 0.0, 1.0, 0.0, 3.0, 0.0, 2.0, 0.0, 2.0, 0.0, 2.0, 0.0, 2.0, 0.0, 2.0, 0.0, 3.0, 0.0, 2.0, 0.0, 3.0, 0.0, 2.0, 0.0, 3.0, 0.0, 5.0, 0.0, 1.0, 0.0, 3.0, 0.0, 2.0, 0.0, 2.0, 0.0, 2.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0]

float

# Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    print i**2

In [119]:
for i in ['a','b',5]:
    try: 
        print (i**2)
    except TypeError:
        print("TypeError tienes que introducir un int")

TypeError tienes que introducir un int
TypeError tienes que introducir un int
25

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [122]:
try:
    x = 5
    y = 0

    z = x/y
except:
    print('no se puede dividir por 0')

no se puede dividir por 0

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [133]:
abc=[10,20,20]
try:
    for i in ['a','b','5']:
        print(abc[5])
except:
    print('Ese numero no esta en el rango del indice de la lista')

Ese numero no esta en el rango del indice de la lista

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [134]:
suma = 0
while True:
    try:
        #corregido, el problema es que suma += entrada estaba después del if
        entrada = int(input("Introduce números enteros y despues pulsa 1 "))
        suma += entrada
        if entrada == 1:
            break
    except ValueError as x:
        print("Tu numero es", (x))
        print("Porfavor introduce un numero entero")

print("La suma de los números es {}" .format(suma))

Introduce números enteros y despues pulsa 1 4
Introduce números enteros y despues pulsa 11
La suma de los números es 5

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [135]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print("No encuentro el archivo")
except io.UnsupportedOperation:
    print("No se puede escribir el archivo")

No encuentro el archivo

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [2]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (<ipython-input-2-f4ec7bf448fd>, line 2)

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [5]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

NameError: name 'sys' is not defined


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'